# CSC110 Fall 2020: Python libraries in Final Project.

# Testing and code checking
hypothesis
pytest
python-ta

# Graphics and data visualization
plotly
plotly.express
plotly.graph_objects
plotly.subplots

# User interface
Pillow

# Imports
# tkinter
# PIL
# psutilPIP

# Data Reading
# os
# csv
# json
# ast
# math
